<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <mat-list-item class="sidenav-item">
        <a
          (click)="sidenav.close()"
          matLine
          routerLinkActive="router-link-active"
          >Home</a
        >
      </mat-list-item>
      <mat-list-item class="sidenav-item">
        <a
          (click)="sidenav.close()"
          matLine
          routerLinkActive="router-link-active"
          >Characters</a
        >
      </mat-list-item>
      <mat-list-item class="sidenav-item">
        <a
          (click)="sidenav.close()"
          matLine
          routerLinkActive="router-link-active"
          >Contact us</a
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-nav-list class="navigation">
        <mat-list-item class="navigation-item">
          <a matLine routerLinkActive="router-link-active">Home</a>
        </mat-list-item>
        <mat-list-item class="navigation-item">
          <a
            matLine
            routerLinkActive="router-link-active"
            [routerLink]="['got']"
            routerLinkActive="router-link-active"
            >Game Of Thrones</a
          >
        </mat-list-item>
        <mat-list-item class="">
          <a (click)="sidenav.close()" routerLinkActive="router-link-active"
            >Contact us</a
          >
        </mat-list-item>
      </mat-nav-list>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
